<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>ILP Online Portal v1.0 - Welcome</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/font_style.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/semantic.min.css">
    
    <script src="/static/assets/jquery.min.js"></script>
    <script src="/static/assets/semantic.min.js"></script>
  </head>
  <body>
    
    <div class="ui fixed menu">
      <div class="ui container">
	<a class="item" href="./">
	  <div class="header">
	    <i class="home icon"></i> ILP Online Portal <small>v1.0</small>
	  </div>
	</a> 
	<div class="ui simple dropdown item"> 
	  <i class="grid layout icon"></i> All Apps <i class="dropdown icon"></i>
	  <div class="menu">
	    <a class="item "> <i class="alarm outline icon"></i> Attendance </a> 
	    <a class="item"> <i class="calendar outline icon"></i> Scheduling Tool </a> 
	    <a class="item"> <i class="code icon"></i>Leave Tracker </a>
	  </div>
	</div>
	<a class="item"> <i class="mail outline icon"></i> Messages </a> 
	<div class="ui simple dropdown  right item">
	  <i class="icon user"></i>
	  UserName
	  <i class="dropdown icon"></i>
	  <div class="menu">
	    <a class="item"><i class="edit icon"></i> Edit Profile</a>
	    <a class="item"><i class="settings icon"></i> Settings</a>
	    <a class="item" href="./CustomerController?action=logout"><i class="sign out icon"></i> Log out</a>
	  </div>
	</div>
      </div>
    </div>
    
    <br>

    <div class="ui container">
      <br><br><br>
      <div class="ui  grid " >
	<div class="row">
	  <div class="four wide column">
	    
	    <div class="ui afix segment blue">
	      
	      <center><img src="/media/" class="ui rounded small image"></center>
	      
	      <div class="ui divided list">
		<div class="item">
		  <i class="icon male"></i>
		  <div class="content">
		    Aneesh Kumar
		  </div>
		</div>
		<div class="item">
		  <i class="icon calendar"></i>
		  <div class="content">
		    Born on Oct 15, 1994
		  </div>
		</div>
	      </div>
	      <div class="ui ribbon label">TCS Info</div>
	      <div class="ui divided list">
		
		<div class="item">
		  <i class="icon user"></i>
		  <div class="content">
		    Employee Id : 1007721
		  </div>
		</div>
		
		<div class="item">
		  <i class=" icon eyedropper"></i>
		  <div class="content">
		    Profile : Participant
		  </div>
		</div>
		
		<div class="item">
		  <i class="icon ticket "></i>
		  <div class="content">
		    Learing Group : AJA10
		  </div>
		</div>
		
		<div class="item">
		  <i class=" icon student"></i>
		  <div class="content">
		    Batch : AHD03
		  </div>
		</div>
		
		
		
	      </div>
	      <div class="ui ribbon label">Contact Info </div>
	      <div class="ui divided list">
		<div class="item">
		  <i class="mail icon"></i>
		  <div class="content">
		    <a href="mailto:#"> aneesh.thangella@tcs.com</a>
		  </div>
		</div>
		
		<div class="item">
		  <i class="call icon"></i>
		  <div class="content">
		    9160883374
		  </div>
		</div>
				
	      </div>
	      <center><a class="ui mini button icon blue bottom attached" href="edit/contact_info/"><i class="icon edit"></i> Edit Profile</a></center>
	    </div>
	    
	  </div>
	  
	  <div class="twelve wide column">
	    
	    <div class="ui large header">Welcome to ILP Online Portal <small>v1.0</small> </div>
	    <p><img src="/static/assets/imgs/para.png" /></p>
	    <br>
	    <p><img src="/static/assets/imgs/para.png" /></p>
	    
	    <br>
	    
	    <div class="ui grid">
	      <div class="row">
		<div class="six wide column">
		  <div class="three wide column">
		    <h4>Recent Updates </h4>
		    <div class="ui relaxed divided list">
		      <div class="item">
			<i class="announcement middle aligned icon"></i>
			<div class="content">
			  <a class="header">Update & Announcement Title #1</a>
			  <div class="description">10 mins ago</div>
			</div>
		      </div>
		      <div class="item">
			<i class="announcement middle aligned icon"></i>
			<div class="content">
			  <a class="header">Update & Announcement Title #2</a>
			  <div class="description">10 mins ago</div>
			</div>
		      </div>
		      <div class="item">
			<i class="announcement middle aligned icon"></i>
			<div class="content">
			  <a class="header">Update & Announcement Title #3</a>
			  <div class="description">10 mins ago</div>
			</div>
		      </div>
		      
		    </div>
		    <div class="ui button mini  blue right floated">view all</div>
		  </div>
		</div>
		<div class="ten wide column">
		  <h4 class="ui  header">All Apps</h4>
		  <a class="ui red label">Red</a>
		  <a class="ui orange label">Orange</a>
		  <a class="ui yellow label">Yellow</a>
		  <a class="ui olive label">Olive</a>
		  <a class="ui green label">Green</a>
		  <a class="ui teal label">Teal</a>
		  <a class="ui blue label">Blue</a> <br><br>
		  <a class="ui violet label">Violet</a>
		  <a class="ui purple label">Purple</a>
		  <a class="ui pink label">Pink</a>
		  <a class="ui brown label">Brown</a>
		  <a class="ui grey label">Grey</a>
		  <a class="ui black label">Black</a>
		  
		</div>
		
		
	      </div>
	    </div>
	    
	    
	    
	  </div>
	  
	  
	  
	  
	  
	</div>
      </div>
      
      
      <script>
    	$(document).ready(function(){
	    $("#footer").load("footer.html");
	});
      </script>
      <div id="afooter"></div>
      
      
    </div>
  </body>
</html>
