<br>
<br>
<div class="ui    divided equal height  grid">
	<div class="three wide column">
		<h4 class="ui  header">About</h4>
		<div class="ui  link list">
			<a href="#" class="item">Sitemap</a> <a href="#" class="item">Contact
				Us</a> <a href="#" class="item">About Us </a>
		</div>
	</div>
	<div class="three wide column">
		<h4 class="ui  header">Info</h4>
		<div class="ui  link list">
			<a href="#" class="item">TCS Ltd</a> <a href="#" class="item">
				Ultimatix</a>
		</div>
	</div>
	<div class="seven wide column">
		<h4 class="ui  header">Credits</h4>
		<p>&copy; 2015 - Developed and Maintains by TCS ILP - Innovations
			Club</p>
		<a href="#"><i class="facebook square icon large"></i></a> <a href="#"><i
			class="twitter icon large"></i></a> <a href="#"><i
			class="google plus square icon large"></i></a>
	</div>
</div>
