{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block home_active %} active {% endblock %}
{% block main %} 
<div class="ui breadcrumb">
  <a class="section">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Welcome</div>
</div>
<div class="ui  grid " style="min-height:422px;">
  <div class="row">
    <div class="four wide column">
      <div class="ui afix segment blue">
	<!--<center><img src="/media/" class="ui rounded small image"></center>-->
	<div class="ui divided list">
	  <div class="item">
	    <i class="icon male"></i>
	    <div class="content">
	      {{ user.get_full_name }} 
	    </div>
	  </div>
	  <div class="item">
	    <i class="icon calendar"></i>
	    <div class="content">
	      Born on {{ user.DoB }}
	    </div>
	  </div>
	</div>
	<div class="ui ribbon label">TCS Info</div>
	<div class="ui divided list">	  
	  <div class="item">
	    <i class="icon user"></i>
	    <div class="content">
	      Employee Id : {{ user.EmpNo }}
	    </div>
	  </div>
	  <div class="item">
	    <i class=" icon eyedropper"></i>
	    <div class="content">
	      Profile : {{ user.Profile }}
	    </div>
	  </div>
	  {% ifequal  user.Profile  "Participant" %}
	  <div class="item">
	    <i class="icon ticket "></i>
	    <div class="content">
	      Learing Group : {{ participant_profile.lg_id }}
	    </div>
	  </div>
	  <div class="item">
	    <i class="icon university "></i>
	    <div class="content">
	      Learing Room : {{ participant_profile.lg_id.room_id }} 
	    </div>
	  </div>
	  <div class="item">
	    <i class=" icon student"></i>
	    <div class="content">
	      Batch : {{ participant_profile.lg_id.batch_id  }} 
	    </div>
	  </div>
	  {% endifequal %}
	</div>
	<div class="ui ribbon label">Contact Info </div>
	<div class="ui divided list">
	  <div class="item">
	    <i class="mail icon"></i>
	    <div class="content">
	      <a href="mailto:#"> {{  user.Email}}</a>
	    </div>
	  </div>
	  <div class="item">
	    <i class="call icon"></i>
	    <div class="content">
	      {{ user.Mobile }} &nbsp; <small><a href="#">Edit</a></small>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class="ten wide column">
      <div class="ui large header">Welcome to ILP Online Portal <small>v1.0</small> </div>
      <p><img src="/static/assets/imgs/para.png" /></p>
      <br>
      <p><img src="/static/assets/imgs/para.png" /></p>
      <br>
      <div class="eight wide column">
	<h4 class="ui  header">All Apps</h4>
	<a class="ui red label"><i class="alarm outline icon"></i> Attendance </a>
	<a class="ui orange label"><i class="calendar outline icon"></i> Scheduling Tool </a>
	<a class="ui yellow label"> <i class="code icon"></i>Leave Tracker</a>
	<a class="ui olive label">Olive</a>
	<a class="ui green label">Green</a>
	<a class="ui teal label">Teal</a>
	<a class="ui blue label">Blue</a><br><br> 
	<a class="ui violet label">Violet</a>
	<a class="ui purple label">Purple</a>
	<a class="ui pink label">Pink</a>
	<a class="ui brown label">Brown</a>
	<a class="ui grey label">Grey</a>
	<a class="ui black label">Black</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
