{% extends "base.html" %}
{% block title %} Change Password {% endblock %}
{% block main %} 
<div class="ui three columns equal grid" style="min-height:452px;">
  <div class="row">
    <div class="column"></div>
    <div class="column">
      
      <form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="ui formui small form piled segment left aligned relaxed">
	  <h3 class="ui icon header">Change Password</h3>   
	  <div class="field">
	    <label>Old Password </label>
	    {{ form.old_password }}
	  </div>
	  <div class="field">
	    <label>New Password </label>
	    {{ form.new_password1 }}
	  </div>
	  <div class="field">
	    <label>Confirm Password </label>
	    {{ form.new_password2 }}
	  </div>
	  <div class="field">
	    <button type="submit" class="ui tiny button blue"><i class="icon check"> </i>Update Password  </button>
	  </div>
	</div>
	{% if messages %}
	{% for message in messages %}
	<div {% if message.tags %} class="ui message {{ message.tags }} bottom attached"{% endif %}><i class="close icon"></i>{{ message }}</div>
	{% endfor %}
	{% endif %}
	{% if form.errors %}
	{% for error in form.errors %}
	<div class="ui error message bottom attached"> <i class="close icon"></i> {{ error.title }} is missing </div>
	{% endfor %}
	{% endif %}
	
      </form>
    </div>
    <div class="column"></div>
  </div>
</div>
{% endblock %}
