{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block main %} 
<div class="ui breadcrumb">
  <a class="section">Home</a>
  <i class="right angle icon divider"></i>
  <a class="section">Attendace</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Today's</div>
</div>
<div class="ui  grid " >
  <div class="row">
    <div class="sixteen wide column">
		<div class="ui  pointing top attached menu blue">
		  <a class="item active">Today's</a>
		  <a class="item">All Sessions</a>
		  <a class="item">Missed Sessions</a>
		</div>
		<div class="ui attached segment" style="min-height:352px;">
		  {% if messages %}
			{% for message in messages %}
			<div {% if message.tags %} class="ui message {{ message.tags }} "{% endif %}><i class="close icon"></i>{{ message }}</div>
			{% endfor %}
			{% endif %}
		  {% if general_sessions  or  extra_slots %}
		  <table class="ui five column table very basic ">
			  <thead>
				<tr><th>Session Name</th>
				<th colspan="2">Start</th>
				<th colspan="2">Stop</th>
			  </tr></thead>
			  <tbody>
			   {% for one_session in general_sessions %}
				<tr>
				  <td>{{ one_session.session.session_name }}</td>
				  
				  {% ifequal one_session.started_flag "Already Started" %}
				  <td><a href="#" class="ui button green mini ">Started</a></td>
				  <td>{{one_session.started_log.started_at}}</td>
				  {% endifequal %}
				  
				  {% ifequal one_session.started_flag "Yet to Start" %}
				  <td><a href="#" class="ui button yellow mini disabled">Start</a></td>
				  <td>Yet to Start</td>
				  {% endifequal %}
				  
				  {% ifequal one_session.started_flag "Start" %}
				  <td><a href="/attendance/start/{{one_session.session.id}}/" class="ui button green mini">Start Now</a></td>
				  <td>--</td>
				  {% endifequal %}
				  
				  {% ifequal one_session.started_flag "You missed" %}
				  <td><a href="#" class="ui button teal mini disabled">Start </a></td>
				  <td>You Missed</td>
				  {% endifequal %}
				  
				  {% ifequal one_session.stop_flag "Yet to Stop" %}
				  <td><a href="#" class="ui button yellow mini disabled">Stop</a></td>
				  <td>Yet to Stop</td>
				  {% endifequal %}
				  
				  {% ifequal one_session.stop_flag "Stop" %}
				  <td><a href="/attendance/stop/{{one_session.session.id}}/" class="ui button red mini">Stop</a></td>
				  <td>Stop Now</td>
				  {% endifequal %}
				  
				  {% ifequal one_session.stop_flag "You missed" %}
				  <td><a href="#" class="ui button teal mini disabled">Stop</a></td>
				  <td>You Missed</td>
				  {% endifequal %}
				  
				  {% ifequal one_session.stop_flag "Stopped" %}
				  <td><a href="#" class="ui button red mini">Stopped</a></td>
				  <td>{{one_session.started_log.ended_at}}</td>
				  {% endifequal %}
				  
				</tr>
				{% endfor %}
				{% for extra in extra_slots %}
				<tr>
				  <td> {{ extra.extra_slot.time_slot.slot_name }}</td>
				  
				  {% ifequal extra.started_flag "Already Started" %}
				  <td><a href="#" class="ui button green mini ">Started</a></td>
				  <td>{{extra.started_log.started_at}}</td>
				  {% endifequal %}
				  
				  {% ifequal extra.started_flag "Yet to Start" %}
				  <td><a href="#" class="ui button yellow mini disabled">Start</a></td>
				  <td>Yet to Start</td>
				  {% endifequal %}
				  
				  {% ifequal extra.started_flag "Start" %}
				  <td><a href="/attendance/start_extra/{{extra.extra_slot.id}}/" class="ui button green mini">Start Now</a></td>
				  <td>--</td>
				  {% endifequal %}
				  
				  {% ifequal extra.started_flag "You missed" %}
				  <td><a href="#" class="ui button teal mini disabled">Start </a></td>
				  <td>You Missed</td>
				  {% endifequal %}
				  
				  {% ifequal extra.stop_flag "Yet to Stop" %}
				  <td><a href="#" class="ui button yellow mini disabled">Stop</a></td>
				  <td>Yet to Stop</td>
				  {% endifequal %}
				  
				  {% ifequal extra.stop_flag "Stop" %}
				  <td><a href="/attendance/stop_extra/{{extra.extra_slot.id}}/" class="ui button red mini">Stop</a></td>
				  <td>Stop Now</td>
				  {% endifequal %}
				  
				  {% ifequal extra.stop_flag "You missed" %}
				  <td><a href="#" class="ui button teal mini disabled">Stop</a></td>
				  <td>You Missed</td>
				  {% endifequal %}
				  
				  {% ifequal extra.stop_flag "Stopped" %}
				  <td><a href="#" class="ui button red mini">Stopped</a></td>
				  <td>{{extra.started_log.ended_at}}</td>
				  {% endifequal %}
				</tr>
				{% endfor %}
			  </tbody>
			 
			</table>
			{% else %}
			<div class="ui message red">No Sessions Scheduled</div>
			{% endif %}
			
			
			
			
		</div>
    </div>
  </div>
</div>

{% endblock %}
